<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<!-- 7. form_for takes AR obj and constructs form using obj attributes,
  define an @user in corresponding controller action, form_for expects
  @user to be a User object, and were creating a new user so it's User.new  -->
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <!-- 7.rails uses dedicated shared/ directory for partials expected to
        be used in views across multiple controllers, goes to
        app/views/shared/_error_messages.html.erb -->

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Create my account", class: "btn btn-large btn-inverse" %>
    <% end %>
  </div>
</div>
