<% provide(:title, @user.username) %>
<div class="row">
  <!-- adding sidebar to user show view -->
  <aside class="span6">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
      <span>
        <%= link_to "record dreams", root_path %>
      </span>
      <span>
        <%= pluralize(@user.posts.count, "dream") %>
      </span>
    </section>
    <% if current_user.guest? %>
      <%= link_to "Sign Out and Delete Entries", signout_path, method: :delete,
          data: { confirm: "This will erase all your journal entries, are you sure?"} %>
    <% end %>
    <div id="metrics">
      <div id="lucid-donut">
      </div>
    </div>
    <% if @user.posts.any? %>
      <script>
        Morris.Donut({
          element: 'lucid-donut',
          data: [
              {label: "Lucid", value: <%= @user.posts.where(:lucid => true).count %>},
              {label: "Non-Lucid", value: <%= @user.posts.where(:lucid => false).count %>}
          ],
          colors: ["#cd680b","#022440"]
          });
      </script>
    <% end %>
  </aside>
  <div class="span6">
    <h3>Dreams</h3>
    <%= render 'shared/post' %>
  </div>
</div>