<% provide(:title, @user.name) %>
<div class="row">
  <!-- adding sidebar to user show view -->
  <aside class="span6">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <!-- helper method in app/helpers/user_helper.rb to get gravatars -->
        <%= @user.name %>
      </h1>
      <span>
        <%= link_to "record dreams", root_path %>
      </span>
      <span>
        <%= pluralize(current_user.posts.count, "dream") %>
      </span>
    </section>
    <div id="lucid-donut"></div>
    <script>
      Morris.Donut({
        element: 'lucid-donut',
        data: [
            {label: "Lucid", value: <%= @user.posts.where(:lucid => true).count %>},
            {label: "Non-Lucid", value: <%= @user.posts.where(:lucid => false).count %>}
        ],
        colors: ["#cd680b","#022440"]
        });
    </script>
  </aside>
  <div class="span6">
    <h3>Dreams</h3>
    <%= render 'shared/feed' %>
  </div>
</div>