<% provide(:title, @user.name) %>
<div class="row">
  <!-- adding sidebar to user show view -->
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <!-- 7.create helper method in app/helpers/user_helper.rb to get gravatars -->
        <%= @user.name %>
      </h1>
    </section>
  </aside>
    <div class="span8">
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>