<% provide(:title, @user.name) %>
<div class="row">
  <!-- adding sidebar to user show view -->
  <aside class="span5">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <!-- 7.create helper method in app/helpers/user_helper.rb to get gravatars -->
        <%= @user.name %>
      </h1>
    </section>
    <!-- pluralize(current_user.posts.count, "post") -->
    <h2> <%= @user.posts.where(:lucid => true).count %> Lucid  </h2>
    <h2> <%= @user.posts.where(:lucid => false).count %> Not Lucid  </h2>
    <div id="lucid-donut"></div>
    <script>
      Morris.Donut({
        element: 'lucid-donut',
        data: [
            {label: "Lucid", value: <%= @user.posts.where(:lucid => true).count %>},
            {label: "Non-Lucid", value: <%= @user.posts.where(:lucid => false).count %>}
        ],
        colors: ["#cd680b","#022440"]
        });
    </script>
  </aside>
    <div class="span7">
    <% if @user.posts.any? %>
      <h3>Dreams (<%= @user.posts.count %>)</h3>
      <ol class="posts">
        <%= render @posts %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>