<%= form_for(@post, :html => {:class => "zen-mode new_post", :id => "new_post"}, :as => @post, :url => posts_path(@post), :remote => true)  do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="night-zone">
    <div class="night-area">
      <h5 class="night-label">Night Mode</h5>
      <div class="btn-group night-mode" data-toggle="buttons-radio">
        <button type="button" class="btn btn-inverse night-on">On</button>
        <button type="button" class="btn btn-inverse night-off">Off</button>
      </div>
    </div>
    <div class="field">
      <%= f.text_area :content, placeholder: "Record dreams here..." %>

    </div>
    <div id="submit-post">
      <%= f.check_box :lucid, {}, true, false %>
      <%= f.label :lucid %>
      <%= f.submit "Post", id: "post-button", class: "btn btn-medium btn-inverse post-button" %>
    </div>
  </div>
<% end %>